header {
  background-color: #2c2b2b;
  margin: none;
  width: 80%;
  margin: auto;
}

body {
  background-color: #2c2b2b;
}

.main {
  width: 78%;
  margin: auto;
  margin-top: 10px;
  min-height: 300px;
  padding:1%;
  background-color: white;
}

textarea {
  padding: 1%;
  display: block;
  width: 98%;
  padding: none;
  margin: none;
  resize: vertical;
}

input, textarea, button {
  background-color: white;
  padding: 1%;
  margin-bottom: 10px;
  border: 1px solid grey;
}

button {
  border: none;
}

input {
  text-transform: uppercase;
}

.item {
  background-color: whitesmoke;
  padding: 1%;
}

.item:hover {
  background-color: lightgrey;
  padding: 1%;
}
